# Microservice
MICROSERVICE_PORT=8080
MICROSERVICE_NAME=fitty-ai
MICROSERVICE_VERSION=v0.0.1-rc.1
MICROSERVICE_API_PREFIX=/api/v1
MICROSERVICE_WEB_WORKERS=1

# Models CronJob
MODELS_CRONJOB_ENABLED=true
MODELS_CRONJOB_REPEATED_EVERY=10

# MongoDB Connection
MONGODB_URL=mongodb://{username}:{password}@{host}:{port}/{dbname}

# MongoDB and Mongo Express under Docker
DOCKER_MONGODB_CONTAINER_EXPOSED_PORT=28018
DOCKER_MONGOEXPRESS_CONTAINER_EXPOSED_PORT=8082

# Microservice under Docker
DOCKER_MICROSERVICE_IMAGE_NAME=fitty-ai
DOCKER_MICROSERVICE_CONTAINER_NAME=fitty-ai
DOCKER_MICROSERVICE_CONTAINER_EXPOSED_PORT=8090